<h1 class="text-center text-primary">Bienvenido a Linguas UC</h1>

<p class="text-center">
  Sumérgete en un mundo de idiomas y culturas con <strong>Linguas UC</strong>, la plataforma de aprendizaje de idiomas de excelencia. Aprende, conecta y amplía tus horizontes con cursos diseñados por expertos lingüísticos de la Universidad Católica.
</p>

<div class="text-center">
  <h2 class="text-info">¿Por qué elegirnos?</h2>
  <div class="alert alert-light">
    <ul>
      <li>Profesores nativos y especializados en la enseñanza de idiomas.</li>
      <li>Acceso a materiales interactivos como videos y podcasts.</li>
      <li>Enfoque cultural que te permite explorar tradiciones y costumbres mientras aprendes.</li>
      <li>Flexibilidad para estudiar en cualquier momento y desde cualquier lugar.</li>
    </ul>
  </div>
</div>

<div class="text-center mt-4">
  <%= link_to 'Explorar Cursos de Idiomas', courses_path, class: 'btn btn-primary' %>
  <%= link_to 'Conocer a Nuestros Profesores Nativos', professors_path, class: 'btn btn-info' %>
  <%= link_to 'Mis Cursos de Idiomas', users_courses_path, class: 'btn btn-success' %>
</div>

<hr>

<div class="row text-center mt-5">
  <div class="col-md-4">
    <%= image_tag 'flags.jpg', alt: 'Banderas del mundo', class: 'img-fluid' %>
    <p>Banderas de todo el mundo representando nuestros cursos.</p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'globe.jpg', alt: 'Globo terráqueo', class: 'img-fluid' %>
    <p>Conecta globalmente con idiomas y culturas.</p>
  </div>
  <div class="col-md-4">
    <%= image_tag 'dictionary.jpg', alt: 'Diccionario', class: 'img-fluid' %>
    <p>Accede a recursos exclusivos.</p>
  </div>
</div>
