<h1><%= @course.title %></h1>
<p><strong>ID del curso:</strong> <%= @course.code %></p>
<p><strong>Descripción:</strong> <%= @course.description %></p>
<p><strong>Fecha de inicio:</strong> <%= @course.start_date %></p>
<p><strong>Fecha de término:</strong> <%= @course.end_date %></p>
<p><strong>Vacantes totales:</strong> <%= @course.total_vacancies %></p>
<p><strong>Vacantes disponibles:</strong> <%= @course.available_slots %></p>

<% if current_user.rol == 'estudiante' %>
  <% enrollment = @course.enrollments.find_by(user: current_user) %>
  <% if enrollment.nil? %>
    <%= form_with url: course_enrollments_path(@course), local: true, method: :post do %>
      <%= hidden_field_tag :course_id, @course.id %>
      <%= submit_tag 'Solicitar Inscripción', class: 'btn btn-primary' %>
    <% end %>
  <% elsif enrollment.status == 'pendiente' %>
    <p><em>Solicitud de inscripción pendiente.</em></p>
  <% elsif enrollment.status == 'aceptado' %>
    <p><em>Ya estás inscrito en este curso.</em></p>
  <% end %>
<% end %>

<hr>

<% if current_user.rol == 'profesor' && @course.professor == current_user %>
  <%= link_to 'Editar Curso', edit_course_path(@course), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Volver a Inicio', root_path, class: 'btn btn-secondary' %>
