<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoSoft</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="centered-image">
      <%= image_tag("hola_mundo.jpg", alt: "Mi imagen central") %>
    </div>
  </body>
</html>
